
html {
  height: 100%;
  width: 100%;
}
body {
  
      color: #888;
      background: #262626;
      margin: 0;
      padding: 40px;
      text-align: center;
      font-family: helvetica Neue, Helvetica, "Arial", sans-serif;
      vertical-align: middle;
    }

    #canvas {
      width: 100px;
      height: 100px;
      position: absolute;
      top: 150px;
      left: 25%;
      text-align: center;
    }